 <!--static files-->
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'disease/bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static 'disease/footer-distributed-with-address-and-phones.css' %}"/>


<!--Google Fonts-->
<link href='http://fonts.googleapis.com/css?family=Belgrano|Courgette&subset=latin,latin-ext' rel='stylesheet' type='text/css'>


<!--Bootshape-->
<link href="{% static 'disease/css/bootshape.css' %}" rel="stylesheet">
<link href="{% static 'disease/css/feeed.css' %}" rel="stylesheet">

<link rel="stylesheet" href="{% static 'disease/cssmg13/footer-distributed-with-address-and-phones.css' %}">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">





   <!-- Navigation bar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/medworld/">MedWorld</a>
        </div>
        <nav role="navigation" class="collapse navbar-collapse navbar-right">
          <ul class="navbar-nav nav">

            {% if user.is_authenticated %}
            <li class="dropdown">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">Welcome {{ user.get_username }}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="active"><a href="/register/logout/">Logout</a></li>
             
                <!--<li class="divider"></li>
                <li><a href="#">All Items</a></li>-->
              </ul>
            </li>
             
            {% else %}
              <li class=""><a href="/register/">Register / Login</a></li>
            {% endif %} 


            <li class=""><a href="/medworld/">Home</a></li>
            <li class="dropdown">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">Healthcare Marketting <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="active"><a href="http://www.netmeds.com">Buy medicines</a></li>
                <li><a href="http://alphanursing.com.au/book-a-nurse/">Book a nurse</a></li>
                <li><a href="https://www.practo.com">Make a doctor appointment</a></li>
                <!--<li class="divider"></li>
                <li><a href="#">All Items</a></li>-->
              </ul>
            </li>
            
            <li class="dropdown active">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">General<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="active"><a href="/general/">News and Information</a></li>
                <li><a href="/disease/">Diseases</a></li>
                <li>
                {% if user.is_authenticated %}
                <a href="/video_chat/">Video Chat</a>
                {% endif %}
                <li>

                <!--<li class="divider"></li>
                <li><a href="#">All Items</a></li>-->
              </ul>
            </li>

            <li><a href="/healthcare_media/">Healthcare Media</a></li>
            <li><a href="/about_us/">About Us</a></li>
          </ul>
        </nav>
      </div>
    </div><!-- End Navigation bar -->



  <div class="row">
      <div class="col-sm-1"><br><br><br><br>
      </div>

    <div class="col-sm-6"><br><br><br><br><br><br>
      <img src = "http://i.livescience.com/images/i/000/052/786/i02/a-to-z-guide-logo-120702b.jpg?1341516822">
      <div ><font face = "Times New Roman" size = "4">
        <br><br>
        This brief A-Z guide covers some of the more common diseases and conditions, including a definition and the causes, symptoms and treatments of various genetic diseases as well as infectious and communicable diseases, from autism to strokes, skin conditions to eye disease, diabetes and cancer to heart disease.
        <br><br>
        <ul>
          {% for item in obj %}
            <li><a href = "/disease/{{item.key}}">{{item.heading}}</a></li>
          {% endfor %}

        </ul>
      </div></font>
    </div>
      

    <div class="col-sm-4" ><font face = "Times New Roman" size = "4">
     <br><br><br>
     <h3 align = "center"><b><u>Common Viruses</u><br><br><br></b></h3>
     <ul> 
      <li>
        <img class = "img-circle" src = "http://img.webmd.boots.com/dtmcms/live/webmd_uk/consumer_assets/site_images/anatomy_pages/CAPD_varicella_chickenpox.jpg" align = "left" height = "130" width = "130" >
        <b><u>CHICKENPOX</u></b> : Chickenpox is caused by the varicella-zoster virus. It is a member of the herpesvirus family. The same virus also causes shingles in adults.<br><br><br>
        <br><br>
      </li>
      <li>
        <img class = "img-circle" src = "http://youngandraw.wpengine.netdna-cdn.com/wp-content/uploads/cold-and-flu-natural-remedies.jpg" align = "left" height = "130" width = "130" >
        <b><u>FLU</b></u> : Flu is a common infectious viral illness spread by coughs and sneezes. It can be very unpleasant, but you'll usually begin to feel better within about a week.<br>.
        <br><br><br><br>
      </li>
      
      <li>
        <img class = "img-circle" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFLXfTHiCJiXdNdX6k7ExuFOiaEU2W_oUyYbQDeq1YC1OQnhVr" align = "left" height = "130" width = "130" >
        <b><u>HERPES</b></u> : Herpes is an infection that is caused by a herpes simplex virus (HSV). Oral herpes causes cold sores around the mouth or face. Genital herpes affects the &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp     &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp genitals, buttocks or anal area. 
      </li><br><br><br><br><br>
     </ul>  
    </div>
</div>



    <!-- Footer -->
   <footer class="footer-distributed">

      <div class="footer-left">

        <h3>Med<span>World</span></h3>

        <p class="footer-links">
          <a href="index11.html">Home</a>
          
          <a href="aboutUs.html">About</a>
          
          <a href="contact.html">Contact</a>
        </p>

        <p class="footer-company-name">MedWorld <br>&copy; Shamit Lal, Shivam Duggal, Rohit Sharma 2016</p>
      </div>
    <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Delhi Technological University</span> Delhi, India</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+91 9717127722</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">supportmedworld@gmail.com</a></p>
        </div>

    </div>
    <div class="footer-right">

        <p class="footer-company-about">
          <span>Reach Us</span>
          
        </p>

        <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>
    </footer><!-- End Footer -->

    {% load staticfiles %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'cover/js/jquery.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'cover/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'cover/js/bootshape.js' %}"></script>